.selection {
  margin-top: 150px;
}
.box {
  height: auto;
  width: 1200px;
  display: flex;
  margin: auto;
}
.box1,
.box2 {
  width: 50%;
}
.box1 img {
  width: 100%;
}
.box2 {
  background-color: #f5f3ee;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin-top: 70px;
  margin-bottom: 30px;
  font-size: 24px;
  font-weight: 900;
}
.name,
.price {
  margin-top: 20px;
  font-weight: 600;
  font-size: 14px;
  color: #333;
}
